In [2]:
import os
import django

os.environ["DJANGO_SETTINGS_MODULE"] = 'config.settings'
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = 'true'

django.setup()

In [9]:
from app1.models import Person
# 삽입
# 모델 객체 생성 person = Person(first_name="hong", last_name="dong") person.save()
# create() : Person.objects.create(first_name="hong", last_name="dong")
Person.objects.create(first_name="hong", last_name="dong")

In [10]:
Person.objects.create(first_name="sun", last_name="flower")
Person.objects.create(first_name="kim", last_name="eunji")

In [2]:
from app1.models import Person
# 전체 조회 : all()
qs = Person.objects.all()
qs

In [3]:
print(qs.query)

SELECT "person"."id", "person"."first_name", "person"."last_name", "person"."created_at" FROM "person"

In [4]:
# 하나 조회
Person.objects.get(id=1)

In [5]:
# 하나 조회
Person.objects.filter(id=1)

In [7]:
# like : first_name 에 kim 포함하고 있는

Person.objects.filter(first_name__contains='kim')

In [9]:
#Person.objects.get(id=5) 없으면 error
Person.objects.filter(id=5) #없으면 빈 queryset

In [11]:
Person.objects.all()[1]
Person.objects.all()[:2]

In [12]:
list(Person.objects.all())

#### POST 모델

In [3]:
from app1.models import Post

Post.objects.all()

In [4]:
# 전체 행 개수 조회

Post.objects.count()

3

In [5]:
# 오름차순 정렬
Post.objects.order_by("created_At")

In [6]:
# 내림차순 정렬
Post.objects.order_by("-created_At")

In [7]:
# exclude(조건) : 조건을 제외한 모든 행 조회
Post.objects.exclude(id=3)

In [8]:
qs = Post.objects.all()

for post in qs:
    print(post.id,post.title,post.content)

1 장고 모델1 장고 모델1
2 장고 모델2 장고 모델2
3 장고 모델3 장고 모델3

In [11]:
# title에 장고라는 문자가 포함된 행 조회 : contains, icontains(대소문자 구별말고)
Post.objects.filter(title__contains="모델")

In [12]:
# title에 장고라는 문자가 포함되고, 작성자가 성춘향인 행 조회
# 괄호안에 1개 이상의 인자 지정하면 무조건 AND 개념. OR는 다른 방식 사용

Post.objects.filter(title__contains="장고", author_name="성춘향")

In [13]:
Post.objects.filter(title__contains="장고").order_by("-created_At")

In [14]:
qs = Post.objects.all()
qs[0]

In [15]:
qs.get(id=1)

In [16]:
qs.first()

In [17]:
qs.last()